version: '{build}'

image:
  - macos
  - Ubuntu2004

configuration: Release

platform:
  - x64

for:
-
  matrix:
    only:
      - image: macos
  install:
    - curl -L https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh > miniconda.sh
    - bash miniconda.sh -b -p $HOME/miniconda
-
  matrix:
    only:
      - image: Ubuntu2004
  install:
    - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
    - bash miniconda.sh -b -p $HOME/miniconda

build_script:
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  # - conda update -q conda # makes travis build fail
  # Useful for debugging any issues with conda
  - conda info -a
  - conda init bash
  - export CONDA_BASE=$(conda info --base)
  - source $CONDA_BASE/etc/profile.d/conda.sh

  # Install mamba as a dramatically faster conda replacement. Specifying a
  # fixed version makes the installation of mamba itself much faster, and
  # avoids potential breakage due to changes in mamba behaviour.
  - conda install -c conda-forge mamba=0.23.3

  # Environments created by mamba can't be referenced by name from conda
  # (presumably a bug), so we use an explicit path instead.
  - mamba env create --prefix $HOME/mamba-env --file environment.yml
  - conda activate $HOME/mamba-env
  - conda list
  - env
  - python setup.py install

  # Setting NUMBA_DISABLE_JIT=1 makes unit tests way too slow, so we accept less code coverage here
  # - export NUMBA_DISABLE_JIT=1
  - py.test -v --cov=xcube


