version: '{build}'

image:
  - macos
  - Ubuntu2004

configuration: Release

platform:
  - x64

# Do not build feature branch with open Pull Requests.
# Note that a feature branch build may still occur on the first push to
# the branch -- see
# https://help.appveyor.com/discussions/questions/18437-skip_branch_with_pr-setting-doesnt-work
skip_branch_with_pr: true

for:
-
  matrix:
    only:
      - image: macos
  install:
    - curl -Ls https://micromamba.snakepit.net/api/micromamba/osx-64/latest | tar -xvj bin/micromamba
    - mv bin/micromamba ./micromamba
-
  matrix:
    only:
      - image: Ubuntu2004
  install:
    - wget -qO- https://micromamba.snakepit.net/api/micromamba/linux-64/latest | tar -xvj bin/micromamba --strip-components=1

build_script:
  # Diagnostics
  - echo $PLATFORM
  - echo $APPVEYOR_BUILD_WORKER_IMAGE
  - echo $APPVEYOR_BUILD_FOLDER
  - uname -a
  - pwd
  - ls

  # Set up micromamba
  - ./micromamba shell init -s bash -p ~/micromamba
  - source ~/.bashrc
  - source ~/.bash_profile
  - hash -r
  - mkdir -p ~/micromamba/pkgs/
  - export MAMBA_ROOT_PREFIX=~/micromamba
  - export MAMBA_EXE=$(pwd)/micromamba
  - . $MAMBA_ROOT_PREFIX/etc/profile.d/micromamba.sh

  # Create environment from build folder environment.yml and install xcube
  - micromamba create --name xc --file $APPVEYOR_BUILD_FOLDER/environment.yml
  - micromamba activate xc
  - cd $APPVEYOR_BUILD_FOLDER
  - python setup.py install

  # Make sure pytest is installed
  - micromamba install --yes --name xc --channel conda-forge pytest attrs

  # Print some diagnostics (useful for debugging)
  - git status
  - micromamba list
  - xcube --version
  - python -c "from xcube import __version__; print(f'xcube version {__version__}')"

  # Run the test suite
  - pytest -v --cov=xcube

  # Setting NUMBA_DISABLE_JIT=1 makes unit tests way too slow, so we accept less code coverage here
  # - export NUMBA_DISABLE_JIT=1
  # - py.test -v --cov=xcube


