name: xcube
channels:
  - conda-forge
dependencies:
  # Python
  - python >=3.10
  # Required
  - affine >=2.2
  - botocore >=1.34.51
  - cftime >=1.6.3
  - click >=8.2.0
  - cmocean >=2.0
  - dask >=2021.6
  - dask-image >=0.6
  - deprecated >=1.2
  - distributed >=2021.6
  - fiona >=1.8
  - fsspec >=2021.6
  - gdal >=3.0
  - geopandas >=0.8
  - jdcal >=1.4
  - jsonschema >=3.2
  - libgdal-jp2openjpeg
  - mashumaro
  - matplotlib-base >=3.8.3
  - netcdf4 >=1.5
  - numba >=0.52
  - numcodecs >=0.12.1
  - numpy >=1.16
  - pandas >=1.3
  - pillow >=6.0
  - pyjwt >=1.7
  - pyproj >=3.0
  - pyyaml >=5.4
  - rasterio >=1.2
  - requests >=2.25
  - rfc3339-validator >=0.1  # for python-jsonschema date-time format validation
  - rioxarray >=0.11
  - s3fs >=2021.6
  - setuptools >=41.0
  - shapely >=1.6
  - tabulate >=0.9
  - tornado >=6.0,<6.5
  - urllib3 >=2.0
  - xarray >=2024.7
  - zarr >=2.11,<3  # until we can ensure zarr 3 compatibility; see Issue #1102
  # Chartlets
  - altair
  - chartlets >= 0.1.3
  # Testing
  - flake8 >=3.7
  - isort >=6
  - kerchunk
  - moto >=4
  - pytest >=4.4
  - pytest-cov >=2.6
  - requests-mock >=1.8
  - ruff >=0.9
  - werkzeug
