#sphinx==4.1.2
#sphinx_rtd_theme==0.5.2
#sphinx-argparse==0.3.1
#sphinx-autodoc-annotation==1.0-1
#recommonmark==0.7.1

sphinx
sphinx_rtd_theme
sphinx-argparse
sphinx-autodoc-annotation
recommonmark

mock
# listing packages below within autodoc_mock_imports of conf.py
# seems not to be sufficient:
fsspec
geopandas
jsonschema
numpy
pandas
pyproj
shapely
xarray
zarr