sphinx>2.0
sphinx_rtd_theme>=0.4.3
sphinx-argparse
sphinx-autodoc-annotation
mock
recommonmark>=0.6.0
# listing packages below within autodoc_mock_imports of conf.py seems not to be sufficient:
pandas
jsonschema
geopandas
distutils